extends layout

block content
  section#intro
    h1 Brandon Murdoch
    h2 {Senior Software Engineer}
  nav.nav
    ul.nav__menu
      li.nav__menu-item
        a(href='https://www.linkedin.com/in/brandon-a-murdoch/') linkedin
      li.nav__menu-item
        a(href='https://github.com/MurdochB') git
      li.nav__menu-item
        a(href='?soon') projects
      li.nav__menu-item
        a(href='?soon') contact
